# Logs
*.log

# Environment
.env
.env.*
!.env.example

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
.fleet/
.zed/

# PHP
.phpactor.json
.phpunit.result.cache
.phpunit.cache

# Composer
/vendor
/auth.json

# Node
/node_modules

# Laravel
/public/hot
/public/storage
/storage/*.key
/storage/pail

# Homestead
Homestead.json
Homestead.yaml